/* general styles ------------------- */

.page_background_image{
    background-color: #f8d071;
}

/* list styles--------- */
ul{
    padding-inline-start: 20px;
    /* list-style: none; */
}


/* text styles--------------------- */

/* Intro text */
@font-face {
    font-family: 'alternate_gothic_no2_dregular';
    src: url("custom-fonts/Alternate-Gothic-No2 D-Regular.ttf");
    font-weight: normal;
    font-style: normal;

}

.text-introduction{
    font-family: "alternate_gothic_no2_dregular";
    font-size: 32px;
}

.text-bio-par{
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: 500;
}

.contact-bar{
    font-size: 22px;
}

.contact-bar:hover{
    border-bottom: solid black 3px;
}

.section-heading{
    font-weight: 700;
    font-size: 20px;
}

/* Image styles */
#img-personality{
    width: 70%;
    border-radius: 5%;
    border: solid black 3px;
}

/* @media screen and (max-width: 719px) and (min-width: 500px)  {
    .text-introduction{
        font-size: 32px;
    }
} */

@media (min-width: 720px) {
    .text-introduction{
        font-size: 50px;
    }
}