/* Page styles */
*{
    font-family: 'Roboto', sans-serif;
    color: black;
}

a, a:hover{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* Background color styles */
.bg-black{
    background-color: black;
}

/* text-colors */
.text-blue{
    color: #5cb5ea;
}

.text-pink{
    color: rgb(161, 20, 79);
}

.text-grey{
    color: #50585a;
}

/* Navigation bar styles */
.navbar-brand:hover{
    color: #E31B6D !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: #E31B6D !important;
}

/* card styles */
.card{
    border-radius: 20px;
    border: 4px solid black;
  
}